html,body {
   margin:0;
   padding:0;
   min-height:100%;
	 width:100%
}
address{
	font-style: normal;
	font-weight: normal;
	
}
article{
	width: 90%;
	max-width:1024px;
	margin:auto;
	padding:1rem;
}
figure{
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6{
	color: #88c665;
	font-weight: bold;
	font-family: 'eightone', 'helveticaneue', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
}
h1{
	padding:0.3rem;
	font-size:1.8rem;
}
img{
	max-width:100%;
	height:auto;
}
p{
	font-family: /*'Helvetica',*/'Helvetica neue', 'Arial', 'Verdana', 'Trebuchet MS', 'sans-serif';
	text-align: justify;
  text-justify: inter-word;
	text-indent: 2rem;
}

#container{
	width:100%;
	height:100%;
	background-color:#fff;
	display: table;/*O display table garante que a seção englobara também os elementos flutuantes.*/
}

/*Estilização Header*/
#header{
	width:100%; 
	height:4rem;
	background-color:#3b4544;
	font-size: 1em;
	display:block;
	position:fixed;
	top:0;
	
}
#logo{
	height:4rem;
	padding-left: 5rem;
	width: auto;
	float:left;
}
#logo img{
	height:4rem;
	width: auto;
}
#capa
{
	background-color: #FFCCFF;
}
/*Estilização da propaganda*/
#informe1
{
 width: 33.33%;
 float: left;
}
#informe2
{
 width: 33.33%;
 float: left;
}
#informe3
{
 width: 33.33%;
 float: right;
}
#informeEmpresa {
width:39%;
height:43%;
position:absolute;
float: left;
top:25%;
left:64%;
margin-top:-50px;
margin-left:-50px;
/*width: 100px;
height:100px;
float: rigth;
position:absolute;*/
background-color: #000000;
opacity: 0.7;
}
.menu nav{
	float:right;
	position:absolute;
	right:0;
	padding:1.5rem;
}
.menu a{
	text-decoration:none;
	color: #88c665;
	border: solid 0.1rem #3b4544;
	border-radius:0.5rem;
	padding: 0.17rem;
	margin:0.05rem;
}

.menu a:hover{
	color: #d2d3d5;
	border: groove 0.1rem #d2d3d5;
	border-radius: 0.5rem;
}
.item{
	display:inline-block;
}
.sub-item{
	background-color: #d2d3d5;
	text-align:left;
	width:auto;
	position:absolute;
	top:3rem;
	display:block;
	border-radius:0.5rem;
	opacity:0;
	
	/*Essa parte do código controla o tempo até aparecer o item na tela*/
	        -webkit-transition: all 300ms ease;
 -moz-transition: all 300ms ease;
 -ms-transition: all 300ms ease;
 -o-transition: all 300ms ease;
 transition: all 300ms ease;
}
.item:hover .sub-item{
	opacity: 1;
}
.sub-item a{
	display:block;
	text-decoration:none;
	color: #3b4544;
	border:none;
	margin:0;
	font-size: 0.875em;
}
.sub-item a:hover{
	color: #88c665;
	border:none;
}
#control-nav{
	visibility: hidden;
	display:inline;
	float: left;
}/*Fim da Estilização da Header*/

/*Estilização do Conteúdo*/
#content{
	text-align: center;
	width:100%;
	height:100%;
	background-color:#fff;
	display:table;
	padding-top: 3rem;
}
/*Link - classe que configura os links dentro do espaço de conteúdo.*/
.link{
	text-align: left;
}
.link a{
	text-decoration:none;
	color: #3b4544;
	font-weight: bold;
	vertical-align: -40%;
}
.link a:hover{
	color: #88c665;
}
.link-img{
	height: 1.3rem;
	width: auto;
	margin: 0.4rem;
	float:left;
}

/*Classes para formatação de imagens*/
.img-left{
	margin: 1rem;
	width: 40%;
	float: left;
}
.img-right{
	margin: 1rem;
	width: 40%;
	float: right;
}
.img-center{
	display: block;
	margin: auto;
	margin-top: 1rem;
	width: 60%;
}

#footer{
	width:96%;
	height:5rem;
	position:relative;
	bottom: 0;
	display: table;
	background-color:#3b4544;
	padding-left: 2%;
	padding-right: 2%;
	font-size:0.8rem;
	color: #d2d3d5;
}
#footer p{
	text-indent: 0;
}
#footer a{
	color: #d2d3d5;
	text-decoration: none;
}
.icon{
	font-size:1rem;
}
.left{
	float:left;
}
.right{
	float:right;
	width:auto;
}
.right a{
	vertical-align: -35%;
}
.right p{
	text-align:right;
}

/*Check Direitos Autorais*/
.autoria{
	display:table;
}
.autoria a{
	color: #d2d3d5;
	text-decoration: underline dotted;
}
.autoria p{
	padding-bottom: 0.5rem;
	font-size: 0.7rem;
	opacity: 0;
	
	        -webkit-transition: all 300ms ease;
 -moz-transition: all 500ms ease;
 -ms-transition: all 500ms ease;
 -o-transition: all 500ms ease;
 transition: all 500ms ease;
}

#control-autoria{
	visibility:hidden;
	display:inline;
	float:left;
}
#control-autoria:checked ~ p{
		opacity:1;
}
.control-autoria{
	cursor:pointer;
	float:left;
	display:inline;
}


/*Adaptação screen(max-width:1024px)*/
@media only screen and (max-width: 1080px){
#logo{
	padding-left:0;
}
/*Menu Mobile*/
.menu nav{
	background-color: rgba(42,55,55,0.7);
	position:fixed;
	right:0;
	top:4rem;
	width:auto;
	max-width:90%;
	border-radius: 0 0 0 0.5rem;
	margin:0;
	padding:0.5rem;
	opacity:0;
	
		 -webkit-transition: all 300ms ease;
 -moz-transition: all 400ms ease;
 -ms-transition: all 400ms ease;
 -o-transition: all 400ms ease;
 transition: all 400ms ease;

}
.item{
	display:block;
	width: 100%;
	padding: 0.1rem;
	font-size:1rem;

}
.item:hover{
	border-bottom: groove 1px rgba(42,55,55,0.8);
	border-radius:0;
}
.item a{
	border:none;	
}
.item a:hover{
	border:none;	
}
.sub-item{
	visibility:hidden;
}

#control-nav:checked ~ nav{
		opacity:1;
}

/*Controle do Menu*/	
.control-nav {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    width: 1.5rem;
    padding: 0.3rem 0;
    border: solid #333;
    border-width: 0.2rem 0;
    z-index: 2;
    cursor: pointer;/*Responsável por fazer o label clicavel, sem a necessidade de acessar direto o chekbox*/
}
.control-nav:before{
	  content: "";
    display: block;
    height: 0.2rem;
    background: #333;
}
}/*Fim da estilização Mobile*/

/*Declaração de fontes e classes para as mesmas*/
@font-face{
 font-family: 'eightone';
 src: url('font/eightone.ttf') format('truetype'); 
}

.eightone-font{
 font-family: 'eightone', 'helveticaneue', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
}

@font-face{
 font-family: 'helvetica';
 src: url('font/helvetica.ttf') format('truetype'); 
}

.helvetica-font{
 font-family: 'helvetica', 'Arial', 'Verdana', 'Trebuchet MS', 'sans-serif';
}
@font-face{
 font-family: 'helveticaneue';
 src: url('font/helveticaneue.ttf') format('truetype'); 
}

.neue-font{
 font-family: 'helveticaneue', 'Helvetica', 'Arial', 'Verdana', 'Trebuchet MS', 'sans-serif';
}
