body{
	color: #373435;
 	font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "Sans-serif";
	}


/*Estilização Menu*/
.menu nav{

}
.menu ul{
	list-style: none;
	margin: 0;
	display: inline;
}
.menu ul li{
	position:static;
	display: inline;
	margin: 0.3%;
	padding: 0.2%;
}
.menu abbr{
	text-decoration:none; 
}
.menu a{
	padding:0.5em;
	color: #88c665;
	text-decoration: none;
	border:solid 0.2em #373435;
}
.menu a:visited{
	color: #88c665;
}
.menu a:hover{
	color: #d2d3d5;
	border: groove 0.2em #d2d3d5;
	border-radius: 0.5em;
}

.sub_item{
	background: #d2d3d5;
	border-radius: 0.3em;
	text-align:left;
	width: 30px;
	height:auto;
	padding: 0.2em;
	display:block;
	position: relative;
	top: 0.6em;
	opacity: 0;
	
	/*Essa parte do código controla o tempo até aparecer o item na tela*/
	        -webkit-transition: all 300ms ease;
 -moz-transition: all 300ms ease;
 -ms-transition: all 300ms ease;
 -o-transition: all 300ms ease;
 transition: all 300ms ease;
}

.item:hover   .sub_item{
	opacity: 1;
}

.sub_item a:link{text-decoration: none; color: #000; border:none;}
.sub_item a:visited{text-decoration: none; color: #000; border:none;}
.sub_item a:hover{
	text-decoration: none;
	color: #88c665;
	border: none;
}
/*Fim da Estilização do menu*/

@font-face{
 font-family: 'eightone';
 src: url('font/eightone.ttf') format('truetype'); 
}

.eightone-font{
 font-family: 'eightone';
}

@font-face{
 font-family: 'helveticaneue';
 src: url('font/helveticaneue.ttf') format('truetype'); 
}

.neue-font{
 font-family: 'helveticaneue';
}

